imgaug==0.4.0
gdown==4.4.0
torch==1.5.1
torchsummary
paddlepaddle-gpu
Cython
trdg
yacs
pyclipper
lmdb
vietocr
python-Levenshtein
torchvision==0.6.1
tabulate==0.8.7
overrides==3.0.0
pandas~=1.1.5
allennlp
torchtext==0.6.0
tqdm~=4.64.0
numpy~=1.19.5
six~=1.16.0
Pillow~=5.1.0
PyYAML~=3.12
requests~=2.27.1
setuptools~=59.6.0
scipy~=1.5.4