# Usage: pip install -r requirements.txt

### OCR_imprint craft+vietocr ###
torch==1.8.1
torchvision==0.9.1
opencv-python==4.5.1.48
scipy==1.6.2
scikit-image==0.18.1
python-bidi==0.4.2
pyyaml==5.4.1
vietocr==0.3.5
shapely==1.7.1
gdown==3.11.0