# Usage: pip install -r requirements.txt


### OCR_imprint craft+vietocr ###
torch
torchvision
opencv-python
scipy==1.6.2
scikit-image==0.18.1
python-bidi==0.4.2
pyyaml==5.4.1
vietocr==0.3.5
shapely==1.7.1
gdown==3.11.0
matplotlib==3.1.2
# segmentation
pyyaml
opencv-contrib-python
git+https://github.com/facebookresearch/detectron2.git

